@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-poppins);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
}

header, footer {
    max-width: min(90%, 800px)
}
header {
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 10px;
}
footer {
    border-top: 1px solid var(--foreground);
    padding-top: 10px;
}
main {
    max-width: min(90%, 1000px);
    padding: 10px;
}